@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

/******************* approval text  ***************/
.rider-approval-text-wrapper {
  font-family: "Poppins-Bold", sans-serif;
  max-width: 300px;
  font-weight: 450;
  font-size: clamp(5px, 4vw, 25px);
  margin-left: 30px;
  margin-top: 5px;
}

/* ******************************search box ***************************/
.search-field {
  background: #d1d1d1;
  height: 45px;
  margin: 10px 0px 10px 20px;
  width: 100%;

  border-radius: 130px;
  padding-left: 20px;
  width: 100%;
}

/********************************** filter status ******************************/
.rider-approval-filter-status {
  /* top right bottom left */
  margin: 10px 0px 0px 0px;
  height: 45px;
  width: 150px;
  background: #52459f;
  border: 1px solid #ccc;
  color: white;
  font-weight: bold;
  border-radius: 22px;
  font-family: "Poppins", sans-serif;
  font-size: smaller;
}

/************************ table styling ***********************/

.rider-approval-table-container {
  /* display: flex  ; */

  width: 100%;

  max-height: 75vh;

  overflow-y: auto;
  padding: 0px 50px 50px 50px;
  background: #f0f0f0;
  border-radius: 20px;
  box-shadow: 0px 4px 14.1px -1px #00000080;
  font-size: 1.2vw;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 20px;
}

.table-in {
  width: 100%;
  background: #f0f0f0;
  border-radius: 10px;
}

.td-style {
  padding: 50px 0px 10px 0px;
  border-bottom: 3px solid #52459f;
}

.rider-table-image {
  max-width: 80px;
  max-height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

/*************************  rider requirements profiling style************************ */
.rectangle-requiment {
  width: 100%;
  max-width: 400px;
  background: #f0f0f0;
  border-radius: 20px;
  box-shadow: 0px 4px 14.1px -1px #00000080;
  margin-left: 50px;
  margin-top: 80px;

  height: 500px;
  min-height: 75vh;
}

.rider-profile {
  height: 80px;
  width: 80px;
  border-radius: 100%;
}

.profile-line {
  max-width: 300px;
  height: 3px;
  background: #52459f;
  margin: 0 auto;
}

/*************** subcomponents of requirements  drive license********************/

.rider-approval-boxRequirements {
  width: 300px;
  height: 60px;
  background: #52459f;
  margin-top: 20px;
  border-radius: 10px;
  margin-left: 62px;
}

/******************** requirements view file ************/

.ellipse-container {
  /* position: relative; */
  /* margin-bottom: 12rem; */
}

.icon-view {
  /* margin-left: 10px  ; */
}

.ellipse-first {
  background: #cbd0dc;
  /* border-radius: 50%  ;
  height: 2rem  ;
  width: 2rem  ; */
  /* position: absolute  ; */
  /* margin-top: 13px  ; */
  /* margin-bottom: 2rem; */
}

.ellipse-second {
  background: #ffffff;
  /* border-radius: 50%  ;
  height: 2.5rem  ;
  width: 2.5rem  ;
  margin: 4px 0px 0px 4px  ; */
}

.view-file {
  width: 200px;
  margin: -40px 0px 0px 60px;
}

.view-select {
  width: 300px;
  margin: -2px 0px 0px 62px;
  font-size: x-small;
}

/********************* button approve and reject****************** */
.btnAppRej {
  margin-top: 30px;
  margin-left: 40px;
}

.btn-rider-approval {
  width: 145px;
  height: 45px;
}

@media only screen and (max-width: 767px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (max-width: 991px) {
  /* ******************sidebar styling ****************/

  .Nav {
    margin-right: -70px;
  }

  /* ******************table styling ****************/

  .rider-approval-container {
    max-height: 490px;
    max-width: 400px;
  }

  /* ******************rider requirements styling ****************/

  .rectangle-requiment {
    max-width: 350px;
    max-height: 490px;
    margin-left: 10px;
  }

  .rider-profile {
    border-radius: 50%;
    margin-left: 130px;
  }

  .profile-line {
    max-width: 270px;
  }

  /***************************** box rectangle for viewing requirements****************** */
  .rider-approval-boxRequirements {
    margin-left: 35px;
    max-width: 280px;
    max-height: 60px;
  }

  .ellipse-first {
    /* margin-top: 8.5px; */
    /* height: 2.7rem;
    width: 2.8rem; */
    /* margin-bottom: 8px; */
  }

  .ellipse-second {
    height: 2.2rem;
    width: 2.3rem;
  }

  .icon-view {
    margin-top: 10px;
    margin-left: 8.5px;
  }

  .view-file {
    max-width: 200px;
    margin: -35px 0px 0px 60px;
    font-size: small;
  }

  .view-select {
    font-size: xx-small;
  }

  /***************** button approval and reject container ***************/

  .btn-rider-approval {
    max-width: 125px;
    height: 40px;
  }

  .btnAppRej {
    margin-top: 30px;
    margin-left: 35px;
  }

  /* search box */
  .search-field {
    max-height: 40px;
    max-width: 300px;
    font-size: 0.6rem;
  }

  /************ filter status ************/
  .rider-approval-filter-status {
    max-height: 40px;
    font-weight: 10px;
    max-width: 100px;
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 1199px) {
  /*******************search box ************/
  .search-field {
    max-height: 40px;
    max-width: 450px;
    font-size: 0.6rem;
  }
  /************* filter status ***********/
  .rider-approval-filter-status {
    max-height: 40px;
    margin-left: 0px;
    font-weight: 10px;
    max-width: 110px;
    font-size: 0.6rem;
  }
}
