.box {
    height: 164px;
    width: 159px;
  }
  
  .box .total-riders {
    height: 274px;
    left: 7%;
    position: fixed;
    top: 112px;
    width: 273px;
  }
  
  .box .overlap-group {
    background-color: #ffffff;
    border-radius: 35px;
    box-shadow: 0px 4px 15.4px 2px #00000040;
    height: 244px;
    position: relative;
    width: 239px;
    /* left: 121px; */

  }
  
  .box .text-wrapper {
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(180deg, rgb(82, 69, 159) 0%, rgb(227, 128, 113) 100%);
    background-clip: text;
    color: transparent;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 73px;
    font-weight: 500;
    left: 14px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    /* text-fill-color: transparent; */
    top: 89px;
    width: 189px;
  }
  
  .box .bicycle {
    height: 50px;
    left: 18px;
    position: absolute;
    top: 28px;
    width: 60px;
    color: #E38071;
  }
  
  .box .div {
    color: #737277;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 25px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 198px;
    width: 178px;
  }
  .box .menu {
    height: 34px;
    left: 0;
    position: absolute;
    top: 28px;
    width: 7px;
    left: 203px;
  }