.commuterSearchContainer
{
    background-color: #d1d1d1 !important;
    height: 45px !important;
    margin-left: 20px !important;
    margin-top: 20px !important;
    margin-bottom: 10px !important;

    border-radius: 130px !important;

    padding-left: 25px !important;
}