.greatings {
  color: #52459f;
  font-size: 48px;
}

/* .arrow {
  content: "";
  transition: top 0.3s ease-out, left 0.3s ease;
  position: absolute;
  bottom: 0;
  width: 49.6px;
  left: -6.5px;
  top: 6.5rem;
} */
