.navigation-bar {
  background: #52459f;
  min-width: 5rem;
  max-width: 5.5%;
  height: 96.5vh;
  border-radius: 25px;
}

.logo {
  width: 70%;
}

.large-icon {
  font-size: 1.3rem;
  margin: 2rem 0 2rem 0;
  cursor: pointer;
}

.logout-btn {
  font-size: 2rem;
  font-weight: bold;
}

.logout {
  margin-top: auto;
}

.nav-link.active::before {
  content: url("../img/CurrentPageArrow.svg");
  transition: all 0.2s ease-in-out;
  position: absolute;
  left: -20px;
  margin-top: 1rem;
}

@media screen and (max-width: 600px) {
  .nav-link.active::before {
    left: -3.1%;
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .nav-link.active::before {
    left: -2%;
  }
}

@media screen and (min-width: 1025px) {
  .nav-link.active::before {
    left: -0.48%;
  }
}
