@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

 *{
    font-family: 'Poppins', sans-serif;
  }
  

/* approval text  */
.label {
    height: 38px;
    width: 231px;
    margin-left: 19px;
  }
  
  .label .text-wrapper {
    color: #000000;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 25px;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
     top: 0;
    width: 231px;
  }



  /* search box */

  .searchField {
    background-color: #d9d9d9;
    border-radius: 30px;
    height: 40px;
  

    color: #000000;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 23px;
    font-weight: 400;
    
  }


  

  /* Text requiements styling */
 .TextReq{
   font-weight: 600;
   color: #d9d9d9;
   margin: -45px 0px -100px 105px !important;
 }


 /* circle styling */
 .Ellipse1{
  margin-top: 50px;
 }


 /* icon styling */
 .icon{
  margin-top: 10px;
 }

 .Uploadtext{
 
   margin-left: 3px;
   font-size: 10px !important;
   color: #d9d9d9;
   font-weight: lighter;
  
   
 }

 .btnAppRej{
  margin-top: 140px;
  margin-left: 30px;
  
  
 }

 .btn{
  width: 145px;
  height: 45px;
 
 }
 
 

  
  
  

   
  
  

  
  
  