@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Poppins', sans-serif !important;
}


/********************************** filter status ******************************/
.commuter-approval-filter-status {

    /* top right bottom left */
    margin: 10px 0px 0px -100px !important;
    height: 45px !important;
    width: 150px !important;
    background-color: #52459F !important;
    border: 1px solid #ccc !important;
    color: white !important;
    font-weight: bold !important;
    border-radius: 22px !important;
    font-family: 'Poppins', sans-serif !important;
   font-size: smaller !important;
  }